<!DOCTYPE html>
<html>
  <head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>OpenSciMatch</title>

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />

    <link
      href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap"
      rel="stylesheet"
    />
    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="css/responsive.css" rel="stylesheet" />
  </head>

  <body class="sub_page">
    <div class="hero_area">
      <!-- header section strats -->
      <header class="header_section">
        <div class="container-fluid">
          <nav class="navbar navbar-expand-lg custom_nav-container">
            <a class="navbar-brand" href="index.html">
              <img src="images/logo.png" alt="" />
              <span> OpenSciMatch </span>
            </a>
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="index.html"
                    >Home <span class="sr-only">(current)</span></a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="about.html"> About</a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="work.html">Work </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="category.html"> Category </a>
                </li>
              </ul>
              <div class="user_option">
                <a href="/api/v1/auth/logout">
                  <span> Logout </span>
                </a>
                <form
                  class="form-inline my-2 my-lg-0 ml-0 ml-lg-4 mb-3 mb-lg-0"
                  method="GET"
                  action="/search"
                >
                  <button
                    class="btn my-2 my-sm-0 nav_search-btn"
                    type="submit"
                  ></button>
                </form>
              </div>
            </div>
            <div>
              <div class="custom_menu-btn">
                <button>
                  <span class="s-1"> </span>
                  <span class="s-2"> </span>
                  <span class="s-3"> </span>
                </button>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <!-- end header section -->
    </div>

    <div class="col-md-12 text-center mb-4">
      <h2>Welcome, <%= user.name %>!</h2>
    </div>

    <section class="freelance_section layout_padding">
      <div class="container" id="card-container">
        <div class="row">
          <% if (!(matchedUsers.length === 0)) { %>
          <div class="col-md-12 text-center mb-4">
            <h2>You Are Matched !</h2>
          </div>
          <!-- start cards section -->
          <% if (role === 'contributor') { %> <% matchedUsers.forEach((user) =>
          { %>
          <!-- Project Creator Card -->
          <div class="col-md-12 mb-4">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <!-- Left Section (Picture) -->
                  <div class="col-md-3">
                    <div class="circle-image">
                      <img
                        src="./images/me.jpeg"
                        alt="<%= user.project_creator.name %>"
                      />
                    </div>
                  </div>
                  <!-- Middle Section (Name, Project Description, Skills, and Rating) -->
                  <div class="col-md-6 proj-creator-info">
                    <h5 class="card-title"><%= user.project_creator.name %></h5>
                    <!-- Project Description -->
                    <p class="card-text">
                      Project Description: <%=
                      user.project_creator.project_description %>
                    </p>
                    <!-- Mandatory Skills -->
                    <p class="card-text">
                      Mandatory Skills: <%=
                      user.project_creator.mandatory_skills.join(', ') %>
                    </p>
                    <!-- Good-to-Have Skills -->
                    <p class="card-text">
                      Good-to-Have Skills: <% if
                      (user.project_creator.good_to_have_skills) %> <%=
                      user.project_creator.good_to_have_skills.join(', ') %>
                    </p>
                    <!-- Project Creator Rating -->
                    <p class="card-text">Project Creator Rating: 4.5</p>
                    <!-- Matching Type and Similarity -->
                    <p class="card-text">
                      Matching Type: <%= user.similarity["matching-type"] %>
                    </p>
                    <p class="card-text">
                      Combined Similarity: <%=
                      user.similarity.combined_similarity %>
                    </p>
                    <p class="card-text">
                      Expertise Level Similarity: <%=
                      user.similarity.expertise_level_similarity %>
                    </p>
                    <p class="card-text">
                      Good-to-Have Skills Similarity: <%=
                      user.similarity.good_to_have_skills_similarity %>
                    </p>
                    <p class="card-text">
                      Mandatory Skills Similarity: <%=
                      user.similarity.mandatory_skills_similarity %>
                    </p>
                    <button class="btn btn-primary btn-connect">Connect</button>
                  </div>
                  <!-- Right Section (Compatibility Rating) -->
                  <div class="col-md-3 compatibility-rating">
                    <!-- Project Creator Rating Badge -->
                    <span class="badge badge-primary">4.5/5</span>
                    <h6 class="compatibility-text">Creator Rating</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <% }); %> <% } else if (role == 'project-creator') { %> <%
          matchedUsers.forEach((user) => { %>
          <!-- Contributor Card -->
          <div class="col-md-12 mb-4">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <!-- Left Section (Picture) -->
                  <div class="col-md-3">
                    <div class="circle-image">
                      <img
                        src="./images/me.jpeg"
                        alt="<%= user.contributor.name %>"
                      />
                    </div>
                  </div>
                  <!-- Middle Section (Name, Skills, Expertise Level) -->
                  <div class="col-md-6 contributor-info text-center">
                    <h5 class="card-title"><%= user.contributor.name %></h5>
                    <p class="card-text">
                      Skills: <%= user.contributor.skills.join(', ') %>
                    </p>
                    <p class="card-text">
                      Expertise Level: <%= user.contributor.expertise_level %>
                    </p>
                    <button
                      class="btn btn-primary btn-connect"
                      href="chat.html"
                    >
                      Connect
                    </button>
                  </div>
                  <!-- Right Section (Compatibility Rating and Similarity) -->
                  <div class="col-md-3 compatibility-rating">
                    <span class="badge badge-primary">90%</span>
                    <h6 class="compatibility-text">Compatibility Rate</h6>

                    <!-- Similarity -->
                    <p class="card-text">
                      Similarity: <%= user.similarity.combined_similarity %>
                    </p>
                    <p class="card-text">
                      Expertise Level Similarity: <%=
                      user.similarity.expertise_level_similarity %>
                    </p>
                    <p class="card-text">
                      Good-to-Have Skills Similarity: <%=
                      user.similarity.good_to_have_skills_similarity %>
                    </p>
                    <p class="card-text">
                      Mandatory Skills Similarity: <%=
                      user.similarity.mandatory_skills_similarity %>
                    </p>
                    <p class="card-text">
                      Matching Type: <%= user.similarity['matching-type'] %>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <% }); %> <% } %> <% } else { %>
          <div class="col-md-12 text-center mb-4">
            <h2>Sorry, no matches found! Try our search engine</h2>
          </div>
          <% } %>

          <!-- end cards section -->
        </div>
      </div>
    </section>

    <!-- info section -->

    <section class="info_section">
      <div class="info_container layout_padding-top">
        <div class="container">
          <div class="info_top">
            <div class="info_logo">
              <img src="images/logo.png" alt="" />
              <span> OpenSciMatch </span>
            </div>
            <div class="social_box">
              <a href="#">
                <img src="images/fb.png" alt="" />
              </a>
              <a href="#">
                <img src="images/twitter.png" alt="" />
              </a>
              <a href="#">
                <img src="images/linkedin.png" alt="" />
              </a>
              <a href="#">
                <img src="images/instagram.png" alt="" />
              </a>
              <a href="#">
                <img src="images/youtube.png" alt="" />
              </a>
            </div>
          </div>

          <div class="info_main">
            <div class="row">
              <div class="col-md-3 col-lg-2">
                <div class="info_link-box">
                  <h5>Useful Link</h5>
                  <ul>
                    <li class="active">
                      <a class="" href="index.html"
                        >Home <span class="sr-only">(current)</span></a
                      >
                    </li>
                    <li class="">
                      <a class="" href="about.html">About </a>
                    </li>
                    <li class="">
                      <a class="" href="work.html">Work </a>
                    </li>
                    <li class="">
                      <a class="" href="category.html">Category </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-md-3">
                <h5>Offices</h5>
                <p>
                  Readable content of a page when looking at its layoutreadable
                  content of a page when looking at its layout
                </p>
              </div>

              <div class="col-md-3 col-lg-2 offset-lg-1">
                <h5>Information</h5>
                <p>
                  Readable content of a page when looking at its layoutreadable
                  content of a page when looking at its layout
                </p>
              </div>

              <div class="col-md-3 offset-lg-1">
                <div class="info_form">
                  <h5>Newsletter</h5>
                  <form action="">
                    <input type="email" placeholder="Email" />
                    <button>Subscribe</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-9 col-md-10 mx-auto">
              <div class="info_contact layout_padding2">
                <div class="row">
                  <div class="col-md-3">
                    <a href="#" class="link-box">
                      <div class="img-box">
                        <img src="images/location.png" alt="" />
                      </div>
                      <div class="detail-box">
                        <h6>Location</h6>
                      </div>
                    </a>
                  </div>
                  <div class="col-md-4">
                    <a href="#" class="link-box">
                      <div class="img-box">
                        <img src="images/mail.png" alt="" />
                      </div>
                      <div class="detail-box">
                        <h6>demo@gmail.com</h6>
                      </div>
                    </a>
                  </div>
                  <div class="col-md-5">
                    <a href="#" class="link-box">
                      <div class="img-box">
                        <img src="images/call.png" alt="" />
                      </div>
                      <div class="detail-box">
                        <h6>Call +01 1234567890</h6>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- end info section -->

    <!-- footer section -->
    <footer class="container-fluid footer_section">
      <div class="container">
        <p>
          &copy; <span id="displayDate"></span> All Rights Reserved By
          <a href="https://html.design/">Free Html Templates</a>
        </p>
      </div>
    </footer>
    <!-- end  footer section -->

    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/custom.js"></script>
  </body>
</html>
