<!DOCTYPE html>
<html>
  <head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>OpenSciMatch</title>

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />

    <link
      href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap"
      rel="stylesheet"
    />
    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="css/responsive.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>

  <body class="sub_page">
    <div class="hero_area">
      <!-- header section strats -->
      <header class="header_section">
        <div class="container-fluid">
          <nav class="navbar navbar-expand-lg custom_nav-container">
            <a class="navbar-brand" href="index.html">
              <img src="images/logo.png" alt="" />
              <span> OpenSciMatch </span>
            </a>

            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="./Dashboard/profile.html"
                    >Your Dashboard <span class="sr-only">(current)</span></a
                  >
                </li>
              </ul>
              <div class="user_option">
                <a href="/api/v1/auth/logout">
                  <span> Logout </span>
                </a>
                <form
                  class="form-inline my-2 my-lg-0 ml-0 ml-lg-4 mb-3 mb-lg-0"
                  method="GET"
                  action="/search"
                >
                  <button
                    class="btn my-2 my-sm-0 nav_search-btn"
                    type="submit"
                  ></button>
                </form>
              </div>
            </div>
            <div>
              <div class="custom_menu-btn">
                <button>
                  <span class="s-1"> </span>
                  <span class="s-2"> </span>
                  <span class="s-3"> </span>
                </button>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <!-- end header section -->
    </div>

    <div class="col-md-12 text-center mb-4">
      <h2>Welcome, <%= user.name %>!</h2>
    </div>

    <section class="freelance_section layout_padding">
      <div class="container" id="card-container">
        <div class="row">
          <% if (!(matchedUsers.length === 0)) { %>
          <div class="col-md-12 text-center mb-4">
            <h2>You Are Matched !</h2>
          </div>
          <!-- start cards section -->
          <% if (role === 'contributor') { %> <% matchedUsers.forEach((user) =>
          { %>
          <!-- Project Creator Card -->
          <div class="full price_table padding_infor_info">
            <div class="row">
              <!-- column contact -->
              <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 profile_details margin_bottom_30">
                <div class="contact_blog">
                  <div class="contact_inner">
                    <div class="left">
                      <h3><%= user.project_creator.name %></h3>
                      <p><strong>Project Description: </strong><%= user.project_creator.project_description %></p>
                      <ul class="list-unstyled">
                          <li><i class="fa fa-envelope-o"></i>  <%= user.project_creator.email  %></li>
                          <li><i class="fa fa-phone"></i>  <%= user.project_creator.phone_number %></li>
                          <li>
                              <a href="#manElement_<%= user.project_creator._id%>" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa-solid fa-star" style="color: #58718a;"></i>  Mandatory Skills</span></a>
                              <ul class="collapse list-unstyled" id="manElement_<%= user.project_creator._id%>">
                                <% user.project_creator.mandatory_skills.forEach((skill) => { %>
                                 <li> <span>&emsp; &emsp;&emsp;<%= skill %></span></a></li>
                                  <% }); %>
                              </ul>
                          </li>
                          <li>
                            <a href="#goodElement_<%= user.project_creator._id%>" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa-solid fa-star" style="color: #58718a;"></i>  Desired Skills</span></a>
                            <ul class="collapse list-unstyled" id="goodElement_<%= user.project_creator._id%>">
                              <% user.project_creator.good_to_have_skills.forEach((skill) => { %>
                               <li> <span>&emsp; &emsp;&emsp;<%= skill %></span></a></li>
                                <% }); %>
                            </ul>
                        </li>
                          <li><i class="fa-solid fa-book" style="color: #58718a;"></i>&nbsp;  Matching type : <%= user.similarity["matching-type"] %>
                          
                        </ul><br><br><br>
                        <div style="margin-top: 60px; width: max-content;">
                          <span style="background-color: #3bb017; padding: 5px 10px; margin-right: 10px;color: white; font-weight:350;" title="Combined Similarity"><strong>CS: <%= user.similarity.combined_similarity %></strong></span>
                          <span style="background-color: #0d49c1; padding: 5px 10px; margin-right: 10px;color: white;font-weight:350;" title="Expertise Level Similarity"><strong>ES: <%= user.similarity.expertise_level_similarity %></strong></span>
                          <span style="background-color: #a8490e; padding: 5px 10px; margin-right: 10px;color: white;font-weight:350;" title="Good-to-Have Skills Similarity"><strong>GS: <%= user.similarity.good_to_have_skills_similarity %></strong></span>
                          <span style="background-color: #860f74; padding: 5px 10px;color: white;font-weight:350;" title="Mandatory Skills Similarity"><strong>MS: <%= user.similarity.mandatory_skills_similarity %></strong></span>
                        </div>  
                        
                    </div>
                    <div class="right">
                      <div class="profile_contacts">
                          <img class="img-responsive" src="images/anas.png" alt="#" />    
                      </div>
                    </div>
                    <div class="bottom_list">
                      <div class="right_button">
                        <button type="button" class="btn btn-success btn-xs">
                          <i class="fa fa-user"></i> <i class="fa-solid fa-comments" style="color: #ffffff;"></i>
                        </button>
                        <button type="button" class="btn btn-primary btn-xs">
                          <i class="fa fa-user"></i> View Profile
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <% }); %> <% } else if (role == 'project-creator') { %> <%
          matchedUsers.forEach((user) => { %>
          <!-- Contributor Card -->
          <div class="full price_table padding_infor_info">
            <div class="row">
              <!-- column contact -->
              <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 profile_details margin_bottom_30">
                <div class="contact_blog">
                  <div class="contact_inner">
                    <div class="left">
                      <h3><%= user.contributor.name %></h3>
                      <p><strong>About: </strong><%= user.contributor.contributor_type %></p>
                      <ul class="list-unstyled">
                          <li><i class="fa fa-envelope-o"></i>  <%= user.contributor.email  %></li>
                          <li><i class="fa fa-phone"></i>  <%= user.contributor.phone_number %></li>
                          <li>
                              <a href="#element_<%= user.contributor._id%>" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa-solid fa-star" style="color: #58718a;"></i>  Skills</span></a>
                              <ul class="collapse list-unstyled" id="element_<%= user.contributor._id%>">
                                <% user.contributor.skills.forEach((skill) => { %>
                                 <li> <span>&emsp; &emsp;&emsp;<%= skill %></span></a></li>
                                  <% }); %>
                              </ul>
                          </li>
                          <li><i class="fa-solid fa-book" style="color: #58718a;"></i>&nbsp;  Matching type : <%= user.similarity["matching-type"] %>
                          
                        </ul><br><br><br>
                        <div style="margin-top: 60px; width: max-content;">
                          <span style="background-color: #3bb017; padding: 5px 10px; margin-right: 10px;color: white; font-weight:350;" title="Combined Similarity"><strong>CS: <%= user.similarity.combined_similarity %></strong></span>
                          <span style="background-color: #0d49c1; padding: 5px 10px; margin-right: 10px;color: white;font-weight:350;" title="Expertise Level Similarity"><strong>ES: <%= user.similarity.expertise_level_similarity %></strong></span>
                          <span style="background-color: #a8490e; padding: 5px 10px; margin-right: 10px;color: white;font-weight:350;" title="Good-to-Have Skills Similarity"><strong>GS: <%= user.similarity.good_to_have_skills_similarity %></strong></span>
                          <span style="background-color: #860f74; padding: 5px 10px;color: white;font-weight:350;" title="Mandatory Skills Similarity"><strong>MS: <%= user.similarity.mandatory_skills_similarity %></strong></span>
                        </div>  
                        
                    </div>
                    <div class="right">
                      <div class="profile_contacts">
                          <img class="img-responsive" src="images/anas.png" alt="#" />    
                      </div>
                    </div>
                    <div class="bottom_list">
                      <div class="right_button">
                        <button type="button" class="btn btn-success btn-xs">
                          <i class="fa fa-user"></i> <i class="fa-solid fa-comments" style="color: #ffffff;"></i>
                        </button>
                        <button type="button" class="btn btn-primary btn-xs">
                          <i class="fa fa-user"></i> View Profile
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <% }); %> <% } %> <% } else { %>
          <div class="col-md-12 text-center mb-4">
            <h2>Sorry, no matches found! Try our search engine</h2>
          </div>
          <% } %>

          <!-- end cards section -->
        </div>
      </div>
    </section>

    <!-- info section -->

    <section class="info_section">
      <div class="info_container layout_padding-top">
        <div class="container">
          <div class="info_top">
            <div class="info_logo">
              <img src="images/logo.png" alt="" />
              <span> OpenSciMatch </span>
            </div>
            <div class="social_box">
              <a href="#">
                <img src="images/fb.png" alt="" />
              </a>
              <a href="#">
                <img src="images/twitter.png" alt="" />
              </a>
              <a href="#">
                <img src="images/linkedin.png" alt="" />
              </a>
              <a href="#">
                <img src="images/instagram.png" alt="" />
              </a>
              <a href="#">
                <img src="images/youtube.png" alt="" />
              </a>
            </div>
          </div>

          <div class="info_main">
            <div class="row">
              <div class="col-md-3 col-lg-2">
                <div class="info_link-box">
                  <h5>Useful Link</h5>
                  <ul>
                    <li class="active">
                      <a class="" href="index.html"
                        >Home <span class="sr-only">(current)</span></a
                      >
                    </li>
                    <li class="">
                      <a class="" href="about.html">About </a>
                    </li>
                    <li class="">
                      <a class="" href="work.html">Work </a>
                    </li>
                    <li class="">
                      <a class="" href="category.html">Category </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-md-3">
                <h5>Offices</h5>
                <p>
                  Readable content of a page when looking at its layoutreadable
                  content of a page when looking at its layout
                </p>
              </div>

              <div class="col-md-3 col-lg-2 offset-lg-1">
                <h5>Information</h5>
                <p>
                  Readable content of a page when looking at its layoutreadable
                  content of a page when looking at its layout
                </p>
              </div>

              <div class="col-md-3 offset-lg-1">
                <div class="info_form">
                  <h5>Newsletter</h5>
                  <form action="">
                    <input type="email" placeholder="Email" />
                    <button>Subscribe</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-9 col-md-10 mx-auto">
              <div class="info_contact layout_padding2">
                <div class="row">
                  <div class="col-md-3">
                    <a href="#" class="link-box">
                      <div class="img-box">
                        <img src="images/location.png" alt="" />
                      </div>
                      <div class="detail-box">
                        <h6>Location</h6>
                      </div>
                    </a>
                  </div>
                  <div class="col-md-4">
                    <a href="#" class="link-box">
                      <div class="img-box">
                        <img src="images/mail.png" alt="" />
                      </div>
                      <div class="detail-box">
                        <h6>demo@gmail.com</h6>
                      </div>
                    </a>
                  </div>
                  <div class="col-md-5">
                    <a href="#" class="link-box">
                      <div class="img-box">
                        <img src="images/call.png" alt="" />
                      </div>
                      <div class="detail-box">
                        <h6>Call +01 1234567890</h6>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- end info section -->

    <!-- footer section -->
    <footer class="container-fluid footer_section">
      <div class="container">
        <p>
          &copy; <span id="displayDate"></span> All Rights Reserved By
          <a href="https://html.design/">Free Html Templates</a>
        </p>
      </div>
    </footer>
    <!-- end  footer section -->

    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/custom.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
